<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GoodsInfoMapper">
    <select id="selectGoodsByInput" resultType="GoodsInfo">
        select * from goods_info
        where (goodsName like "%"#{input}"%"
        or goodsDescription like "%"#{input}"%"
        or goodsLabels like "%"#{input}"%")
    </select>
</mapper>
